
.img{
    display: block;
    margin: 0 auto;
    width: 80%;
}
.icona{
    width: 50%;
    display: block;
    margin: 0 auto;
}
.info-text{
    font-size: 0.9em;
}
.box{
    position: relative;
}
.logo-payperdrive{
    width: 15%;
    position: absolute;
    left: 140px;
    top: 30px;
}
h5.ml-3{
    font-size: 1em!important;
}
.user-info{
    font-size: 0.75em;
}
.help-text{
    font-size: 0.8em; 
}

@media (min-width: 1200px) { 
    .logo-payperdrive{
        left: 180px;
        top: 35px;
    }
    .user-info{
        font-size: 0.8em;
    }
    .help-text{
        font-size: 1em; 
    }
 }
