@font-face {
  font-family: 'font-icons-portal';
  src: url('../fonts/fonticonsportal/font-icons-portal.eot?96073719');
  src: url('../fonts/fonticonsportal/font-icons-portal.eot?96073719#iefix') format('embedded-opentype'),
       url('../fonts/fonticonsportal/font-icons-portal.woff2?96073719') format('woff2'),
       url('../fonts/fonticonsportal/font-icons-portal.woff?96073719') format('woff'),
       url('../fonts/fonticonsportal/font-icons-portal.ttf?96073719') format('truetype'),
       url('../fonts/fonticonsportal/font-icons-portal.svg?96073719#font-icons-portal') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'font-icons-portal';
    src: url('../fonts/fonticonsportal/font-icons-portal.svg?96073719#font-icons-portal') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "font-icons-portal";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-aste-logo:before { content: '\e800'; } /* '' */
.icon-analytics-logo:before { content: '\e801'; } /* '' */
.icon-app:before { content: '\e802'; } /* '' */
.icon-arrow-left:before { content: '\e803'; } /* '' */
.icon-arrow-right:before { content: '\e804'; } /* '' */
.icon-arrows:before { content: '\e805'; } /* '' */
.icon-chat:before { content: '\e806'; } /* '' */
.icon-bcdr-logo:before { content: '\e807'; } /* '' */
.icon-calendario:before { content: '\e808'; } /* '' */
.icon-calendar-user:before { content: '\e809'; } /* '' */
.icon-attention:before { content: '\e80a'; } /* '' */
.icon-calendar-hourglass:before { content: '\e80b'; } /* '' */
.icon-del:before { content: '\e80c'; } /* '' */
.icon-circolari:before { content: '\e80d'; } /* '' */
.icon-cnc-logo:before { content: '\e80e'; } /* '' */
.icon-cross:before { content: '\e80f'; } /* '' */
.icon-analytics-aste:before { content: '\e810'; } /* '' */
.icon-dcom-logo:before { content: '\e811'; } /* '' */
.icon-files:before { content: '\e812'; } /* '' */
.icon-delete:before { content: '\e813'; } /* '' */
.icon-home:before { content: '\e814'; } /* '' */
.icon-help:before { content: '\e815'; } /* '' */
.icon-impostazioni:before { content: '\e816'; } /* '' */
.icon-gestione-sedi:before { content: '\e817'; } /* '' */
.icon-gestione-news:before { content: '\e818'; } /* '' */
.icon-gestionelink-logo:before { content: '\e819'; } /* '' */
.icon-gestione-gruppo-utenti:before { content: '\e81a'; } /* '' */
.icon-gestione-isole:before { content: '\e81b'; } /* '' */
.icon-gestione-utenti-profilo:before { content: '\e81c'; } /* '' */
.icon-circle-trc:before { content: '\e81d'; } /* '' */
.icon-gestione-gruppo-funzioni:before { content: '\e81e'; } /* '' */
.icon-gestione-dominio-1:before { content: '\e81f'; } /* '' */
.icon-gestione-concessionari:before { content: '\e820'; } /* '' */
.icon-folder-watch:before { content: '\e821'; } /* '' */
.icon-funzionalita:before { content: '\e822'; } /* '' */
.icon-fin-fast-logo:before { content: '\e823'; } /* '' */
.icon-file-pdf:before { content: '\e824'; } /* '' */
.icon-file:before { content: '\e825'; } /* '' */
.icon-download:before { content: '\e826'; } /* '' */
.icon-desired-logo:before { content: '\e827'; } /* '' */
.icon-home-update:before { content: '\e828'; } /* '' */
.icon-id:before { content: '\e829'; } /* '' */
.icon-profile:before { content: '\e82a'; } /* '' */
.icon-new-concessionario:before { content: '\e82b'; } /* '' */
.icon-ingrandisci:before { content: '\e82c'; } /* '' */
.icon-isys-logo:before { content: '\e82d'; } /* '' */
.icon-left:before { content: '\e82e'; } /* '' */
.icon-lista-convenzioni:before { content: '\e82f'; } /* '' */
.icon-mail:before { content: '\e830'; } /* '' */
.icon-new-dominio:before { content: '\e831'; } /* '' */
.icon-new-sede:before { content: '\e832'; } /* '' */
.icon-new-gruppo-funzioni:before { content: '\e833'; } /* '' */
.icon-new-gruppo-utenti:before { content: '\e834'; } /* '' */
.icon-new-link:before { content: '\e835'; } /* '' */
.icon-new-news:before { content: '\e836'; } /* '' */
.icon-plus:before { content: '\e837'; } /* '' */
.icon-news-logo:before { content: '\e838'; } /* '' */
.icon-new-utente-profilo:before { content: '\e839'; } /* '' */
.icon-non-impersonare:before { content: '\e83a'; } /* '' */
.icon-notizia:before { content: '\e83b'; } /* '' */
.icon-utenti:before { content: '\e83c'; } /* '' */
.icon-user-upd:before { content: '\e83d'; } /* '' */
.icon-user-shield:before { content: '\e83e'; } /* '' */
.icon-user-search:before { content: '\e83f'; } /* '' */
.icon-user-phone:before { content: '\e840'; } /* '' */
.icon-user-hands:before { content: '\e841'; } /* '' */
.icon-up:before { content: '\e842'; } /* '' */
.icon-tms-logo-old:before { content: '\e843'; } /* '' */
.icon-tfs-bank-logo:before { content: '\e844'; } /* '' */
.icon-tech-news:before { content: '\e845'; } /* '' */
.icon-smartphone:before { content: '\e846'; } /* '' */
.icon-search:before { content: '\e847'; } /* '' */
.icon-trc-logo:before { content: '\e848'; } /* '' */
.icon-rimpicciolire:before { content: '\e849'; } /* '' */
.icon-provvigioni-small-logo:before { content: '\e84a'; } /* '' */
.icon-cso:before { content: '\e84b'; } /* '' */
.icon-print:before { content: '\e84c'; } /* '' */
.icon-user:before { content: '\e84d'; } /* '' */
.icon-scs-logo:before { content: '\e84e'; } /* '' */
.icon-opzioni:before { content: '\e84f'; } /* '' */
.icon-rombo-trc:before { content: '\e850'; } /* '' */
.icon-square-trc:before { content: '\e851'; } /* '' */
.icon-triangle-trc:before { content: '\e852'; } /* '' */
.icon-car:before { content: '\e853'; } /* '' */
.icon-print-1:before { content: '\e854'; } /* '' */
.icon-print-fin-2:before { content: '\e855'; } /* '' */
.icon-floppy-1:before { content: '\e856'; } /* '' */
.icon-floppy-2:before { content: '\e857'; } /* '' */
.icon-stretta:before { content: '\e858'; } /* '' */
.icon-calcolatrice:before { content: '\e859'; } /* '' */
.icon-dealer:before { content: '\e85a'; } /* '' */
.icon-signorina:before { content: '\e85b'; } /* '' */
.icon-flip-tile:before { content: '\e85c'; } /* '' */
.icon-scp-logo:before { content: '\e85d'; } /* '' */
.icon-sco-logo:before { content: '\e85e'; } /* '' */
.icon-usato:before { content: '\e85f'; } /* '' */
.icon-prima-immatr:before { content: '\e860'; } /* '' */
.icon-km0:before { content: '\e861'; } /* '' */
.icon-brand-toy:before { content: '\e862'; } /* '' */
.icon-brand-lex:before { content: '\e863'; } /* '' */
.icon-brand-red:before { content: '\e864'; } /* '' */
.icon-brand-sub:before { content: '\e865'; } /* '' */
.icon-stamp:before { content: '\e866'; } /* '' */
.icon-print-rca:before { content: '\e867'; } /* '' */
.icon-error-alt:before { content: '\e868'; } /* '' */
.icon-t-salessharing:before { content: '\e869'; } /* '' */
.icon-summary:before { content: '\e86a'; } /* '' */
.icon-ppd:before { content: '\e86b'; } /* '' */
.icon-provvigioni:before { content: '\e86c'; } /* '' */
.icon-provvigioni-logo-old:before { content: '\e86d'; } /* '' */
.icon-cso-logo-old:before { content: '\e86e'; } /* '' */
.icon-stock-audit:before { content: '\e86f'; } /* '' */
.icon-distretti-zone:before { content: '\e870'; } /* '' */
.icon-perform-quest:before { content: '\e871'; } /* '' */
.icon-recap-quest:before { content: '\e872'; } /* '' */
.icon-enroll-quest:before { content: '\e873'; } /* '' */
.icon-detail-quest:before { content: '\e874'; } /* '' */
.icon-alert-users:before { content: '\e875'; } /* '' */
.icon-alert-courses:before { content: '\e876'; } /* '' */
.icon-alert-datacertification:before { content: '\e877'; } /* '' */
.icon-alert-ivass:before { content: '\e878'; } /* '' */
.icon-alert-phonecertification:before { content: '\e879'; } /* '' */
