.sel-anagrafica .card{
    background-color: #F0F0F0;
    text-align: center;
    border-radius: 10px;
    border:none;
}
.sel-anagrafica .card:hover{
    box-shadow: 2px 2px 2px #707070 ;
}
.sel-anagrafica .fa-user, .fa-briefcase, .fa-industry{
    font-size: 3em;
    color: #2e8eae;
}
.sel-anagrafica .card-title{
    color: #2e8eae;
}
.sel-anagrafica .fa-arrow-right{
    font-size: 2em;
    color: #2e8eae; 
}
.sel-anagrafica .fa-arrow-right:hover{
    color: #707070; 
}