.step-header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999999;
    box-sizing: border-box;
    padding: 10px 0 0 0;
}
.step-header ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left:0;
    font-size: 0.8em;
}
.step-header .step-number-check{
    padding: 8px 10px;
    margin-right: 10px;
}
.step-header .step-number{
    padding: 8px 14px;
    margin-right: 10px;
}

a span.step-link {
    color: #2e8eae;
    text-decoration: underline;;
}