.logo-toyota{
    width: 15%;
}
.navbar{
    background-color: #2e8eae;
}
@media (min-width: 768px) { 
    .logo-toyota{
        width: 20%;
    }
 }
 @media (min-width: 992px) { 
    .logo-toyota{
        width: 15%;
    }
  }