.logo-toyota{
    width: 50%;
}
.navbar{
    background-color: #2e8eae;
    padding: 0;
}
@media (min-width: 768px) { 
    .logo-toyota{
        width: 25%;
    }
 }
 @media (min-width: 992px) { 
    .logo-toyota{
        width: 20%;
    }
  }
  @media (min-width: 1200px) { 
    .logo-toyota{
        width: 15%;
    }
  }

  .navbar .convenzione span.convenzione-text,
  .navbar .convenzione a.nav-link {
      color: #fff;
  }