input:focus, select:focus{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important; 
}
.text-color{
    color:#2e8eae;
}
.fa-info-circle{
    font-size: 2em;
}
.info-text{
    font-size: 0.6em!important;
    text-align: center;
}
.avatar{
    width: 20%!important;
    /* margin: 0 auto; */
}  
  .form-control {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 35px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #d9d9d9;
    background-color: transparent;
  }
  .form-control + label {
    position: absolute;
    top: 10px;
    font-size: 16px;
    color: #999999;
    transition: all 0.2s ease-out;
  }
  .form-control+.active{
    top: -15px;
    font-size: 12px;
  }
  .form-control:focus {
    outline: none;
    border-width: 2px;
    border-color: #2e8eae;
    transition: all 0.2s ease-out;
  }
  .form-control:focus + label, .form-control.has-value + label {
    top: -15px;
    color: #2e8eae;
    font-size: 12px;
   }
  /*.form-control.has-value:not(:focus) + label {
    color: #999999;
  } */
  @media (min-width: 768px) { 
    .avatar{
      width: 15%!important;
    }
}
@media (min-width: 992px) { 
    .avatar{
      width: 10%!important;
    }
    .info-text{
      font-size: 0.7em!important;
      text-align: left;
  }
}