.caricamento-documenti h5{
    background-color: #D1DCEB;
}
.caricamento-documenti .card{
    width: 95%;
    margin: auto;
}
.caricamento-documenti .fa-info-circle,.fa-download{
    color: #D1DCEB;
    font-size: 1.3em;
    cursor: pointer;
}
 .carta-identità, .passaporto, .patente, .tessera-sanitaria{
    border: dotted 1px #BEBEBE;
    background-color: #F7F7F7;
}
.caricamento-documenti .btn-small{
    background-color: #FF0000;
    color: white;
    border-radius: 20px;
}
.caricamento-documenti .btn-small:hover{
    background-color: #F7F7F7;
    color: #FF0000;
}