.btn-gray{
  color: #3E3E3E;
  background-color: white;
  border: solid 1px #3E3E3E;
  border-radius: 20px;
}
.btn-color{
  color: white;
  background-color: #2e8eae;
  border: solid 1px #2e8eae;
  border-radius: 20px;
}
/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
   min-height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input-number{
  width: 50%;
  height: 50px;
  margin-top: 20px;
}
.otp-btn{
  padding: 20px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: dodgerblue;
  color: white;
  cursor: pointer;
}
.otp-btn:hover{
  color: dodgerblue;
  background-color: white;
}
*/