@font-face{
  font-family: 'ToyotaType';
  src: local('ToyotaType'), url(./Assets/FONT/ToyotaType-Regular.otf) format('opentype')
}
body {
  margin: 0;
  font-family: ToyotaType;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: ToyotaType;
}
